extends common/layout

block content
  h1 Профиль пользователя
  if user
    p имя пользователя: #{user.name}
    each provider in ['vk', 'ya', 'mailru', 'google']
      -var providerData=user.OAuth && user.OAuth[provider]
      if providerData
        article
          h2 Данные #{provider}
          if providerData.photos
            each photo in providerData.photos
              img(src=photo.value, alt=photo.type)
          p Фамилия: #{providerData.name.familyName}
          p Имя: #{providerData.name.givenName}
          p
            each email in providerData.emails
              span #{email.value}

    pre #{JSON.stringify(user, null, 4)}

  else
    p пользователь не обнаружен
